body{

background:#eef2f7;

font-family:Arial,sans-serif;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

margin:0;

}

.container{

background:white;

padding:40px;

border-radius:15px;

box-shadow:0 10px 25px rgba(0,0,0,.15);

width:420px;

text-align:center;

}

h1{

margin-bottom:10px;

}

.upload-box{

margin-top:30px;

}

input{

width:100%;

margin-bottom:20px;

}

button{

background:#2563eb;

color:white;

padding:12px 30px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}

button:hover{

background:#1e40af;

}

#loader{

display:none;

margin-top:20px;

font-weight:bold;

color:#2563eb;

}

#message{

margin-top:20px;

font-weight:bold;

}